body{
    font-family: 'Alfa Slab One', cursive;
} 



.image-of-me{
    position: absolute;
    top: 50%;
}

.cubo{
    
    height: auto;
    width: 100%;
    border-radius: 20px;

}

.up{
    color: black;
    text-decoration: none;
    padding: 2%;
    float: right;
    transition: 200ms;
    font-size: 23px;

}

.up:hover{
    font-size: 27px;
    
}

.cubo-2{
    position: relative;
    left: 0%;
    border-radius: 30px;
    background-color: hsla(0, 0%, 100%, 0);
    width: 100%;
    height: 30px;
}

@media (max-width:480px){
    .cubo-2{
        position: relative;
        left: 0%;
        border-radius: 30px;
        background-color: hsla(0, 0%, 100%, 0);
        width: 100%;
        height: 20px;
        top: 18px;
    }

    .up{
        color: black;
        text-decoration: none;
        padding: 10px;
        float: right;
        transition: 200ms;
        font-size:9px;
    }

    .up:hover{
        font-size: 9px;
        
    }
    
}


.cubo-3{
    position: relative;
    height: 40vw;
    width: 100%;
    top:-10vw ;

}

.imagen1{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:-1;
    object-fit: cover;
    object-fit: center;
}

@media(max-width:480px){
    .cubo-3{
        height:250px;
        top: auto;

    }
}


.LOGO-1{
    position: absolute;
    left: 30px;
    top:30px;
    

}




.clip-1{
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    background-color: rgb(0, 0, 0);
    height: 300px;
    width: 70%;
    padding: 30px;
    position: relative;
    top: 200px;
    left: 10%;
    align-items: center;
}

.image-1{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.788);
    height: 75%;
    width: 55%;
    border-radius: 20px;

}

.text{
    
    color: aliceblue;
    position: absolute;
    left: 65%;
    height: 400px;
    width:35%;
    top: 30px;

}


.images{        background-color: rgb(255, 255, 255);
        -webkit-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
    -moz-box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
    box-shadow: 0px 0px 13px 3px rgba(0,0,0,0.27);
    border-radius: 10px;
    margin: 1%;
    height: auto;
    width: 75vw;
    position: relative;
    padding: 30px;
    top: 0px;
    animation-name: images-animation;
    animation-duration: 1s;
}





@keyframes images-animation {
    0%{top:-100px;}
}

.img-cube{
    height: 0%;
    width: 17%;
    padding: 1%;
    border-radius: 10%;


}

@media(max-width:480px){
    .img-cube{
        height: 10%;
        width: 49%;
        padding: 0px;
        border-radius: 20px;
    
    
    }

    .images{

        margin-top: -60px;
        border-radius: 5px;
    
        height: auto;
        width: auto;
        position: relative;
        padding: auto;
        animation: none;

    }

}

@media (max-width:480px){
    .images{
        top: 100px;
        animation: none;
    }
    .design-text{
        top:0px;
        font-size: 100px;
    }
}
.video-design{
    
    border: 20px;
    
}

.text-AlleStudio{
    color: rgb(255, 255, 255);
    font-size: 15vw;
    text-align: center;
    position: relative;
    top: 10vw;
    animation-name: AlleStudio;
    animation-duration: 2s;

}
.Update-game{
    width: 35vw;
    border-radius: 1vw;
    

}

@media(max-width:480px){
    .text-AlleStudio{
        font-size:60px;
        top: 90px;
        
        animation: none;
    }

    .Update-game{
        width: 100%;
        border-radius: 1vw;
        
    
    }

    .decoration-of-licencia p{
        font-size: 3.5vw;
        
    }

}


@keyframes AlleStudio {
    0%{font-size: 100px;}
    100%{font-size: auto;}
}

.design-text{
    text-align: center;
    font-size: 50px;
    position: relative;
    top: 0px;
    margin: 1vw;
}

.decoration-of-licencia{
    background-color: black;
    height: 50px;
    width: 100%;
    position:relative;
    top: 200px;

}


.decoration-of-licencia p{

    color: white;
    margin: 20px;
    position: relative;
    top: 15px;
    
}



.image-space-betewn{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 1vw 1vw; 
    
    grid-template-areas: 
      ". ."
      ". ."
      ; 
    justify-items: center; 
}

@media(max-width:480px){
    .image-space-betewn{
        grid: none;
    }

}

